#box{
    margin-left: 500px;
    width: 400px;
    height: 300px;
    padding: 30px;
    border: solid;
    border-width: 10px;
    border-color: chartreuse deepskyblue blue darkviolet;
}
p{
    border-style: dashed ;
    border-color: red;

}